body{
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}
section{
  padding: 10px 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.container{
  max-width: 1450px;
 
}

.navbar .container{
  border-bottom: 1px solid rgb(196, 191, 191);
  width: 90%;

}

.navbar a{
  color: black !important;
  font-size: 12px;
  font-weight: 600;
}
.navbar-nav a:hover{
  font-weight: 800;
  color: black ;
  transition: 0.3s;
  
}
.navbar-toggler{
  box-shadow: none !important;
 
}
.logo .container{
 width: 92%;
 display: flex;
 justify-content: space-between;
}

.logo i{
  font-size: 25px;
}
.logo p{
  font-size: 12px;
  font-weight: 700;
}
.logo img{
 width:30%;
  
  object-fit: cover;

}
.under-navbar .container{
  border-top: 1px solid rgb(196, 191, 191);
  margin-top: 10px;
}
/* .under-navbar, .font {
  display: flex !important;
  justify-content: space-between !important;
} */
.under-navbar a:hover{
  font-weight: 600;
  background-color: rgb(23, 67, 23);
  color: #fff !important;
  transition: 0.3s;
}
.font{
  font-size: 23px;
  
}
.font .facebook{
  color: #4267B2;
}
.font .twitter{
  color: #adb0b8;
}
.search span{
 
  background-color: #4267B2;
  color: #fff;
  
  font-size: larger;
  width: 50px;
  height: 34px;
  border: none;
  border-radius: 0;
}

.bitzer .container{
  /* text-align: center; */
  width: 80%;
  /* border-bottom: 3px solid black; */
  
}
.swiper-slide {
    
  height: 500px;
  overflow: hidden;
      position: relative;
     
  }
.swiper-slide img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 71%;
  object-fit: cover;
}
/* .swiper-wrapper{
  width: 100%;
  height: 30em;
  display: flex;
  align-items: center;
} */
.swiper-pagination{
  position: absolute;
  top:  700px;
bottom: 0%;

 
}
.regional .container{
  border-top: 3px solid black;
  width: 90%;
  position: relative;
  
  
  /* padding-top: 0%; */
  /* padding: 10px; */
}

.regional h1{
  font-weight: 600;
  color: #3e5a92;
  padding-top: 5px;
}
.regional-content img{
  width: 100px;
  height: 70px;
  object-fit: cover;

}
.regional-content{
  border-bottom: 1px solid black;
  display: flex;
  /* justify-content: space-between;
   width: 50%; */
}
.regional-content-1{
  border: none;
}

.regional-content p{
  width: 70%;
    margin: auto;
    margin-left: 10px;
}
/* .regional-content img p{
  border-bottom: 1px solid black;
} */
.regional-image img{
  width: 100%;
  height: 450px;
  object-fit: cover;


}
.regional-text{
  position: absolute;
  /* top: 0%; */
  bottom: 0%;
  right: 70px;
  margin: auto;
  color: #fff ;
 width: 40%;

  
}
.regional-text h1{
  width: 100%;

  color: #fff;
  font-size: 30px;
}
.regional-text p{
  width: 100%
}
.international-news .container{
  border-top: 3px solid black;
  width: 92%;
  
  position: relative;
}
.international-line{
  border-right: 2px solid #adb0b8;
}
.international-image img{
  height: 320px;
  width: 90%;
  object-fit: cover;
}
.international-image-1 img{
  height: 250px;
  width: 90%;
  object-fit: cover;
}
.international-image-2 img{
  border: 1px solid black;
}
.international-main-image img{
  width: 100%;
  height: 580px;
  object-fit: cover;
  /* position: absolute; */
}
.international-news-text{
  position: absolute;
   top: 55%;
   transform: translateY(-55%);
   right: 50px;
   
    width: 60%;
    margin: auto;
    color: #fff ;

}
.international-news-text h1{
  font-size: 30px;
  
}
.International-heading h1 {
color: #3e5a92;
}
.regional-text-1{
  position: absolute;
  /* top: 0%; */
  bottom: 6%;
  right: 70px;
  /* width: 40%; */
  margin: auto;
  color: #fff ;
}
.regional-image-1 img{
  height: 500px;
}
.international-main .regional-content  p{
  width: 40%;
}
